#clock{
	position: fixed;
    height:180px;
    margin-bottom: -90px;
    transition: bottom 1s;
    bottom: 50%;
    width: 300px;
    margin-left: -150px;
    text-align:center;
    left:50%;
}
.clue{
	height: 300px;
	vertical-align: middle;
    line-height: 300px;
    text-align: center;
}
h2{
    font-size: 26px;
}
#clue{
    opacity: 0;
    transition: opacity 0.5s
}
#currentClue{
	display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    line-height: normal;
    text-align: center;
    background: white;
    border: solid 1px;
    border-radius: 10px;
    padding: 0px 20px 50px 20px;
}
body{
    background-color: #9E9E9E;
    color:#ae0035;
}
h1{
    color:#ae0035;
    font-size:50px;
}
.leftbanner{
    position:fixed;
    display: inline-block;
    background: url(Rabelais.jpg);
    background-repeat: repeat-y;
    left:5px;
    top:0px;
    width:190px;
    height: 100%;
}
.rightlogo{
    position:fixed;
    background: url(logo.jpg);
    width:200px;
    height: 166px;
    top:50%;
    right: 10px;
    margin-top: -83px;
}
.mainwindow{
    position: fixed;
    height: 100%;
    width:auto;
    left:200px;
    right: 215px;
}
